import styles from './{{pascalCase name}}.module.css'
import {ReactNode} from 'react'

type {{pascalCase name}} = {
  children: ReactNode
}

export const {{pascalCase name}} = ({children}: {{pascalCase name}}) => {
  return (

  <h1 className={styles.{{name}} }>{{pascalCase name}}</h1>

)}
